
<div id="footer">
      <ul class="list-inline">
        <li><i class="fa fa-youtube fa-2x"></i></li>
        <li><i class="fa fa-facebook fa-spin fa-2x"></i></li>
        <li><i class="fa fa-instagram fa-spin fa-2x"></i></li>
        <li><i class="fa fa-twitter fa-2x"></i></li>
        <li><p>This is a Airbnb Home challenge @ LeWagon</p></li>
      </ul>
</div>
