<!DOCTYPE html>
<html>
<head>
  <title>Team</title>
</head>
<body>
  <h4 class="text-center">OUR TEAM</h4>
  <ul class="list-inline text-center ">
    <li><%= image_tag  "photo.jpg", class: "avatar-oversize" %> <br> <h3>Laszlo</h3></li>
    <li><%= image_tag "vallier.jpg", class: "avatar-oversize"%> <br><h3>Vallier</h3></li>
  </ul>

  <div class="text-center padded">
    <h4>CONTACT US</h4>
    <ul class="list-inline">
    <li><i class="fa fa-phone fa-2x"></i></li>
    <li><h2>+ 32 478 74 47 75</h2></li>
    </ul>
    <ul class="list-inline">
    <li><i class="fa fa-envelope fa-2x"></i></li>
    <li><%= link_to "laszlo.arnould@gmail.com", "press.html", class: "h3"%></li>
    </ul>
  </div>


</body>
</html>
